
<!-- Slide #08 -->
<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-10-12">
          <div class="ae-1 fix-6-12">
            <div class="svgContainer svg-8">
             <h2>RECICLA SIN MOVERTE DE TU CASA</h2> 
<!--               <svg class="scale"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
 -->            </div>
          </div>
          <div class="ae-1">
            <p class="hero screen-only">Some description about how it works. Slightly longer than short and shorter than long.</p>
          </div>
          <div class="form-8">
            <p class="raleway small ae-3 opaque">Start now and get <b>free Gift</b> on account</p>
            <%= render '/devise/registrations/registration' %>
            <!-- <form action="#" autocomplete="off">
              <input type="email" class="ae-4 fromCenter" name="user-email" placeholder="Email" val=""/>
              <input type="password" class="ae-5 fromCenter" name="user-password" placeholder="Password" val=""/>
              <input type="submit" class="button green uppercase ae-6 fromCenter" name="name" placeholder="Name" value="Start Free Trial"/>
            </form> -->
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= asset_path 'img-2-3.jpg' %>)"></div>
</section>



<!-- Slide #65 -->
<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
          
        <div class="fix-10-12">
          <h1 class="small ae-1">Acerca de la aplicación</h1>
          <div class="ae-2"><p>ReciclApp es una aplicación que busca optimizar y mejorar el proceso de reciclado en Chile, uniendo personas que tienen material reutilizable, con recicladores dispuestos a retirar este material y comercializarlo libremente.</p></div>
          
          <ul class="grid equal left grid-65">
            <li class="cell-65 col-6-12 ae-3 equalElement">
              <svg class="icon-65" width="44" height="34" viewBox="0 0 90 72" xmlns="http://www.w3.org/2000/svg"><g stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none"><path d="M1.553 28.514l10.683 15.908 12.286-14.712"/><path d="M88.083 45l-10.68-15.908-12.29 14.708"/><path d="M77.381 29.15c2.959 17.304-8.832 33.542-25.07 37.375-11.324 2.68-22.678-.916-30.402-8.529"/><path d="M12.195 44.229c-4.474-18.726 7.609-36.984 25.124-41.124 12.098-2.864 24.215 1.43 31.913 10.124"/><path d="M50.237 40.261c-2.99 2.99-7.847 2.99-10.837 0-2.994-2.994-2.994-7.847 0-10.844 2.99-2.986 7.847-2.986 10.837 0 2.994 2.998 2.994 7.851 0 10.844z"/></g></svg>
              <h3 class="uppercase">Simple, cómodo y sencillo.</h3>
              <p class="small">Una aplicación que te permite reciclar desde la comodidad de tu hogar, sin tener que gastar tiempo buscando puntos limpios donde ir.</p>
            </li>
            <li class="cell-65 col-6-12 ae-4 equalElement">
              <svg class="icon-65" width="26" height="34" viewBox="0 0 59 72" xmlns="http://www.w3.org/2000/svg"><g stroke-width="4" stroke-linejoin="round" fill="none"><path d="M20 62c0 4.5-4.029 9-9 9-4.968 0-9-4.029-9-9 0-4.968 4.032-9 9-9h9v9z"></path><path d="M54 50c0 4.5-4.029 9-9 9-4.968 0-9-4.029-9-9 0-4.968 4.032-9 9-9h9v9z"></path><path d="M20 56v-40.114l34-13.886v44.743"></path><path d="M20 26l34-14"></path></g></svg>
              <h3 class="uppercase">Recibe regalos por participar.</h3>
              <p class="small">Acumula puntos realizando acciones verdes, y canjéalas por descuentos y/o productos en nuestra sección de incentivos.</p>
            </li>
            <li class="cell-65 col-6-12 ae-5 equalElement">
              <svg class="icon-65" width="34" height="34" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg"><g stroke-width="4" stroke-linejoin="round" fill="none"><path d="M1 28.313c23.023 0 41.688 18.664 41.688 41.688"></path><path d="M1 2.438c37.312 0 67.563 30.251 67.563 67.563"></path><path d="M16.813 61.375c0 3.97-3.217 7.188-7.188 7.188-3.97 0-7.188-3.217-7.188-7.188 0-3.97 3.217-7.188 7.188-7.188 3.97 0 7.188 3.217 7.188 7.188z"></path></g></svg>
              <h3 class="uppercase">Crea un impacto real.</h3>
              <p class="small">Creemos que las soluciones siempre son en conjunto. Ayúdanos a crear una solución definitiva para el problema ambiental que hoy enfrentamos, mediante el reciclaje inclusivo.</p>
            </li>
            <li class="cell-65 col-6-12 ae-6">
              <svg class="icon-65" width="34" height="34" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg"><g stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none"><path d="M48.782 69.444h-26.565c0-7.338 5.948-17.71 13.282-17.71 7.335 0 13.282 10.372 13.282 17.71zM44.355 36.976c0 4.888-3.967 8.855-8.855 8.855s-8.855-3.967-8.855-8.855c0-4.891 3.967-8.855 8.855-8.855s8.855 3.964 8.855 8.855zM19.848 51.152c-8.648-8.648-8.648-22.663 0-31.308 8.642-8.642 22.66-8.642 31.302 0 8.648 8.645 8.648 22.66 0 31.308M11.498 59.5c-13.256-13.253-13.256-34.744 0-48.006 13.256-13.253 34.747-13.253 48.006 0 13.256 13.262 13.256 34.753 0 48.006"></path></g></svg>
              <h3 class="uppercase">Formemos comunidad.</h3>
              <p class="small">Oficialicemos y mejoremos el trabajo de los recicladores chilenos, mediante el correcto uso de la aplicación e invitando a mas gente a formar parte de esta revolución.</p>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= asset_path 'img-4-5.jpg' %>)"></div>
</section>

<!-- Slide #40 -->
<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
        
        <div class="fix-10-12 toLeft left">
          <h1 class="ae-2 crop">Recyling was neve this easy, Just make a request and get it done.</h1>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= asset_path 'img-6.jpg' %>)"></div>
</section>

<!-- Slide #81 -->
<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-10-12">
          <h1 class="small ae-1 fromLeft">Problemática en Chile</h1>
          <div class="ae-2 fromLeft">
            <p>Hoy en día, Chile se alza como uno de los países que mas produce basura y uno de los que menos recicla en Latinoamérica. ¿Y esto a que se debe? Las encuestas son claras*, Casi un 40% de chilenos no recicla porque desconoce de sistemas de reciclaje disponibles en su ciudad, mientras que casi un 30% no sabe como reciclar</p>
          </div>
        </div>
        
        <div class="fix-12-12">
          <ul class="grid grid-81 fixedSpaces equal equalMobile">
            <li class="col-6-12">
              <div class="box-81 equalElement indigo left ae-3">
                <p>Simultáneamente, existen cerca de 100 mil personas con una profesión admirable pero poco reconocida, Personas empujadas a diario a la informalidad y a la exclusión </p>
                <div class="author-81">
                  <div class="title-81">Los recicladores</div>
                  <!-- <p class="micro cropBottom">Creative Director @Designmodo</p> -->
                </div>
              </div>
            </li>
            <li class="col-6-12">
              <div class="videoThumbnail noShadow wide cover equalElement popupTrigger ae-4" data-popup-id="81-4" style="background:url(<%= asset_path 'inner-81-1.jpg' %>);"></div>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
  <div class="background" style="background-image:url(<%= asset_path 'img-3-5.jpg' %>)"></div>
</section>

<!-- Popup Video -->
<div class="popup autoplay" data-popup-id="81-4">
  <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-10-12">
          <div class="embedVideo popupContent">
            <iframe src="https://player.vimeo.com/video/176909101?color=ff0179&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Slide #74 -->
<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-10-12 toCenter">
          <h1 class="small ae-1">Some Achivements </h1>
          <div class="ae-2"><p>Creativity often consists of merely turning up what is already there. Did you know that right and left shoes were thought up only a little more than a century ago?</p></div>
        </div>
        <div class="fix-12-12">  
          <ul class="grid grid-74 later equal left">
            <li class="col-3-12 ae-3 fromCenter">
              <a href="#" class="box-74">
                <div class="thumbnail-74">
                  <img src="<%= asset_path 'hack1.jpg' %>" class="wide" alt="Thumbnail"/>
                </div>
                <div class="name-74 equalElement table wide">
                  <div class="cell">
                    <div class="title-74">Hackathon</div>
                    <div class="description-74">1º lugar Hackathon de diseño y tecnología 2015, Universidad Católica.</div>
                  </div>
                </div>
              </a>
            </li>
            <li class="col-3-12 ae-4 fromCenter">
              <a href="#" class="box-74">
                <div class="thumbnail-74">
                  <img src="<%= asset_path 'hack2.jpg' %>" class="wide" alt="Thumbnail"/>
                </div>
                <div class="name-74 equalElement table wide">
                  <div class="cell">
                    <div class="title-74">Jump Chile</div>
                    <div class="description-74">Ganadores Jump Chile 2015</div>
                  </div>
                </div>
              </a>
            </li>
            <li class="col-3-12 ae-5 fromCenter">
              <a href="#" class="box-74">
                <div class="thumbnail-74">
                  <img src="<%= asset_path 'hack3.jpg' %>" class="wide" alt="Thumbnail"/>
                </div>
                <div class="name-74 equalElement table wide">
                  <div class="cell">
                    <div class="title-74">Witcity</div>
                    <div class="description-74">Ganadores concurso: Witcity, creando ciudades inteligentes</div>
                  </div>
                </div>
              </a>
            </li>
            <li class="col-3-12 ae-5 fromCenter">
              <a href="#" class="box-74">
                <div class="thumbnail-74">
                  <img src="<%= asset_path 'hack4.jpg' %>" class="wide" alt="Thumbnail"/>
                </div>
                <div class="name-74 equalElement table wide">
                  <div class="cell">
                    <div class="title-74">MIT, Chile</div>
                    <div class="description-74">Nominación a premio Innovators Under 35 for MIT, Chile.</div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
                
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= asset_path 'img-7-3.jpg' %>)"></div>
</section>

<!-- Slide #69 -->
<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-10-12 toCenter">
          <h1 class="small ae-1">The biggest team</h1>
          <div class="ae-2"><p>There is only you and your camera. The limitations in your photography are in yourself, for what we see is what we are.</p></div>
        </div>
        <div class="fix-12-12">  
          <ul class="grid grid-69 later equal equalMobile">
            <li class="col-4-12">
              <a href="#" class="box-69 ae-3 equalElement" style="background-image:url(<%= asset_path 'team1.jpg' %>);">
                <div class="table cell-69 equalElement">
                  <div class="cell">
                    <div class="category-69">CEO & Founder</div>
                    <div class="title-69">Cristian Lara</div>
                  </div>
                </div>
              </a>
            </li>
            <li class="col-4-12">
              <a href="#" class="box-69 ae-4 equalElement" style="background-image:url(<%= asset_path 'team2.jpg' %>);">
                <div class="table cell-69 equalElement">
                  <div class="cell">
                    <div class="category-69">COO</div>
                    <div class="title-69">Cristian Jorquera</div>
                  </div>
                </div>
              </a>
            </li>
            <li class="col-4-12">
              <a href="#" class="box-69 ae-5 equalElement" style="background-image:url(<%= asset_path 'team3.jpg' %>);">
                <div class="table cell-69 equalElement">
                  <div class="cell">
                    <div class="category-69">CMO</div>
                    <div class="title-69">Alonso Martinez</div>
                  </div>
                </div>
              </a>
            </li>
            <li class="col-4-12">
              <a href="#" class="box-69 ae-6 equalElement" style="background-image:url(<%= asset_path 'team4.jpg' %>);">
                <div class="table cell-69 equalElement">
                  <div class="cell">
                    <div class="category-69">CCO</div>
                    <div class="title-69">Ian Bofill</div>
                  </div>
                </div>
              </a>
            </li>
            <li class="col-4-12">
              <a href="#" class="box-69 ae-7 equalElement" style="background-image:url(<%= asset_path 'team10.jpg' %>);">
                <div class="table cell-69 equalElement">
                  <div class="cell">
                    <div class="category-69">Solve Problems</div>
                    <div class="title-69">Winston Wolf </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="col-4-12">
              <a href="#" class="box-69 ae-8 equalElement" style="background-image:url(<%= asset_path 'grid-6.jpg' %>);">
                <div class="table cell-69 equalElement">
                  <div class="cell">
                    <div class="category-69">You</div>
                    <div class="title-69">Your next career move</div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= asset_path 'img-12-1.jpg' %>)"></div>
</section>




